// color-------
$primary:#2563EB;
$primary-text:#0A0A0A;
$white-text:#FAF4F4;
$secondary-text: #969696;
$background:#EDEDED;
$background-second:#F5F5F5;
$grediantColor:linear-gradient(90deg, #05173C 0%, #637CC1 100%);
$background-footer:#141414;
.container {
    width: 80%;
    margin: auto;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: none;
    background-color: $primary;
    color: $white-text;
    display: inline-block;
    a {
        text-decoration: none;
        color: inherit;
    }
}