* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: none;
  background-color: #2563EB;
  color: #FAF4F4;
  display: inline-block;
}
.btn a {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

.flex-grow {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

header .navbar {
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .brand {
  width: 160px;
}
header .navbar .brand img {
  width: 100%;
}
header .navbar-nav {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 50px;
}
header .navbar-nav .nav-item {
  font-size: 16px;
  color: #0A0A0A;
  font-weight: 400;
}
header .navbar-nav .nav-item a {
  text-decoration: none;
}
header .navbar .bar .fa-bars {
  font-weight: 900;
  font-size: 50px;
  color: #2563EB;
  display: none;
}

@media only screen and (max-width: 950px) {
  header .navbar {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar .brand {
    width: 48px;
  }
  header .navbar .brand img {
    width: 100%;
  }
  header .navbar-nav {
    display: none;
  }
  header .navbar .bar .fa-bars {
    display: contents;
  }
}
footer .upper-footer {
  padding: 40px 0px 40px 0px;
  background-image: linear-gradient(90deg, #05173C 0%, #637CC1 100%);
}
footer .upper-footer h1 {
  font-size: 42px;
  color: #FAF4F4;
  text-align: center;
}
footer .upper-footer .mapouter iframe {
  margin-top: 5vh;
  width: 100%;
  height: 50vh;
}
footer .upper-footer .location-cro {
  display: flex;
  justify-content: space-evenly;
}
footer .upper-footer .location-cro h2 {
  font-size: 32px;
  color: #FAF4F4;
}
footer .upper-footer .location-cro h3 {
  font-size: 24px;
  color: #969696;
}
footer .lower-footer p {
  text-align: center;
}

.home {
  padding: 50px 0px 50px 0px;
}
.home .inner-home {
  background-image: linear-gradient(90deg, #05173C 0%, #637CC1 100%);
}
.home .container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
}
.home .container .container1-form {
  background-color: #0A0A0A;
  width: 30%;
  padding: 50px 50px;
  border-radius: 30px;
}
.home .container .container1-form .form1 #car-select {
  width: 100%;
  color: #0A0A0A;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}
.home .container .container1-form .form1 #car-select option {
  color: #0A0A0A;
}
.home .container .container1-form .form1 .loco label {
  font-size: 22px;
  color: #FAF4F4;
  width: 70%;
}
.home .container .container1-form .form1 .loco label i {
  font-size: 30px;
  padding: 10px 10px 10px 0px;
  color: #2563EB;
}
.home .container .container1-form .form1 .loco #location-select {
  width: 100%;
  padding: 10px 20px;
  color: #0A0A0A;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}
.home .container .container1-form .form1 .loco input {
  width: 90%;
  padding: 5px 10px;
  color: #0A0A0A;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}
.home .container .container1-form .form1 .btn {
  margin-top: 20px;
  border: none;
}
.home .container .container1-car h1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
}
.home .container .container1-car h2 {
  color: #969696;
  font-size: 24px;
}
.home .container .container1-car .carcover-fig img {
  width: 700px;
}

.services h1 {
  font-size: 42px;
  text-align: center;
}
.services h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 100;
  color: #969696;
}
.services .services-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}
.services .services-grid-container .services-grid-item {
  padding: 50px 50px;
  background-color: #0A0A0A;
  border-radius: 10px;
}
.services .services-grid-container .services-grid-item .services-heading {
  color: #FAF4F4;
  font-size: 32px;
}
.services .services-grid-container .services-grid-item .services-discription {
  color: #969696;
}

.car-model h1 {
  text-align: center;
  font-size: 42px;
}
.car-model .model-flex-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.car-model .model-flex-container .model-name {
  background-color: #0A0A0A;
}
.car-model .model-flex-container .model-name li {
  text-align: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}
.car-model .model-flex-container .model .model-wrap {
  display: flex;
  justify-content: flex-end;
}
.car-model .model-flex-container .model .model-wrap .table {
  padding-left: 50px;
  line-height: 20px;
}
.car-model .model-flex-container .model .model-wrap table,
.car-model .model-flex-container .model .model-wrap th,
.car-model .model-flex-container .model .model-wrap td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background-color: #726c6e;
  color: aliceblue;
}
.car-model .model-flex-container .model .model-wrap .reserve {
  background-color: #2563EB;
}

.earn-with-us h1 {
  text-align: center;
  font-size: 42px;
}
.earn-with-us .earn-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.earn-with-us form {
  background-color: #0A0A0A;
  padding: 50px;
  border-radius: 20px;
}
.earn-with-us form h2 {
  text-align: center;
  font-size: 22px;
  color: #FAF4F4;
}
.earn-with-us form label {
  font-size: 18px;
  color: #FAF4F4;
}
.earn-with-us form input {
  width: 100%;
  font-size: 18px;
}
.earn-with-us form select {
  width: 100%;
  font-size: 18px;
}
.earn-with-us form .btn {
  width: 100%;
  margin: auto;
  border: none;
}

/*# sourceMappingURL=style.css.map */
