.services {
    h1 {
        font-size: 42px;
        text-align: center;
    }
    h2 {
        font-size: 32px;
        text-align: center;
        font-weight: 100;
        color: $secondary-text;
    }
    .services-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        .services-grid-item {
            padding: 50px 50px;
            background-color: $primary-text;
            border-radius: 10px;
            .services-heading {
                color: $white-text;
                font-size: 32px;
            }
            .services-discription {
                color: $secondary-text;
            }
        }
    }
}